{% extends 'home.html' %}
{% block body %}
    {% csrf_token %}
    <body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
    <div class="wrapper">
        <!-- Header -->
        {% include 'vtc/header.html' %}
        <!-- Sidebar -->
        {% include 'vtc/sidebar.html' %}
        <!-- Content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="{{ list_url }}">{{ entity }}</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Footer -->
        {% include 'footer.html' %}
    </div>
    <!-- Block javascript -->
    {% block js %}

    {% endblock %}
    <script>


      {% if messages %}
    var html = '<p>';
        {% for message in messages %}
        html += '{{ message }}<br>';
        {% endfor %}
        html += '</p>';
        Swal.fire({
            title: 'Error!',
            html: html,
            icon: 'error'
            });
        {% endif %}


    if (window && window.localStorage.getItem('sidebar') !== 'active') {
        // if it active show it as active
        $(".sidebar-mini").removeClass("sidebar-collapse");
    }

    $("#btn-collapse").click(function() {
        $(".sidebar-mini").toggleClass("sidebar-collapse");
         var updated = '';
         if (window.localStorage.getItem('sidebar') === 'active') {
             updated = 'not_active';
         } else {
             updated = 'active';
         }
         window.localStorage.setItem('sidebar', updated);
    }); 

    </script>
    </body>
{% endblock %}
