{% extends 'list.html' %}
{% load widget_tweaks %}
{% load widget_tweaks %}
<link href="{% static 'libs/select2-4.1.0/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'libs/select2-4.1.0/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'libs/select2-4.1.0/js/select2.min.js' %}"></script>
    <script src="{% static 'libs/select2-4.1.0/js/i18n/es.js' %}"></script>
    <script 
    data-url-list="{% url 'crm:presupuesto_list' %}"
    src="{% static 'presupuesto/js/form.js' %}"></script>

    <script src="{% static 'libs/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'libs/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'libs/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'libs/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'libs/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
{% endblock %}

{% block content %}
<form method="post">
    <div class="card card-primary">
        <div class="card-header bg-morado-2">
        <h3 class="card-title">
            {% if action == 'add' %}
            <i class="fas fa-plus"></i>
            {% else %}
            <i class="fas fa-edit"></i>
            {% endif %}
        {{ title }}
        </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card card-secondary">
                        <div class="card-header bg-morado-3">
                            <h3 class="card-title"><i class="fas fa-boxes"></i> Detalle de servicios</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label>Buscador de servicios:</label>
                                <div class="input-group">
                                    <select class="form-control select2" style="width: 100%;" name="search">
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-danger btn-s btn-flat btnRemoveAll">Eliminar todos mis items <i class="fas fa-trash"></i></button>
                            <table class="table table-bordered" id="tblServicios">
                                <hr>
                                <thead>
                                <tr>
                                    <th>Eliminar</th>
                                    <th>Servicio</th>
                                    <th>Precio de Venta</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-secondary">
                        <div class="card-header bg-morado-3">
                            <h3 class="card-title"><i class="fas fa-shopping-cart"></i> Datos de la factura</h3>
                        </div>
                        <div class="card-body">
                            <input type="hidden" name="action" value="{{ action }}">
                            <div class="form-group">
                                <label>Fecha de servicio:</label>
                                {{ form.fecha_servicio |attr:'type:date' }}
                            </div>
                            <div class="form-group">
                                <label>Fecha de caducidad servicio:</label>
                                {{ form.fecha_caducidad_servicio |attr:'type:date' }}
                            </div>
                            <div class="form-group">
                                <label>Monto descuento servicio:</label>
                                {{ form.monto_descuento_servicio }}
                            </div>
                            <div class="form-group">
                                <label>Subtotal:</label>
                                {{ form.sub_total_servicio }}
                            </div>
                            <div class="form-group">
                                <label>IGV:</label>
                                {{ form.con_sin_igv_servicio }}
                            </div>
                            <div class="form-group">
                                <label>IVA Calculado:</label>
                                <input type="text" class="form-control" readonly name="ivacalc" value="0.00">
                            </div>
                            <div class="form-group">
                                <label>Total a pagar:</label>
                                {{ form.total_servicio }}
                            </div>
                            <div class="form-group">
                                <label>Nota admin:</label>
                                {{ form.nota_admin_servicio }}
                            </div>
                            <div class="form-group">
                                <label>Nota cliente:</label>
                                {{ form.nota_cliente_servicio }}
                            </div>
                            <div class="form-group">
                                <label>Terminos y condiciones:</label>
                                {{ form.terminos_condiciones_servicio }}
                            </div>
                            <div class="form-group">
                                <label>Terminos y condiciones:</label>
                                {{ form.terminos_condiciones_servicio }}
                            </div>
                            <div class="form-group">
                                <label>Sede:</label>
                                {{ form.sede }}
                            </div>
                            {% if form.empresa %}
                            <div class="form-group">
                                <label>Empresa:</label>
                                {{ form.empresa }}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
              <div class='card-footer'></div>
              <button type="submit" class="btn btn-primary btn-flat btn-bg-morado-2"><i class="fas fa-save"></i> Guardar registro</button>
              <a href="{{ list_url }}" class="btn btn-danger btn-flat"><i class="fas fa-times"></i> Cancelar</a>
              </div>
        </div>
    
    </div>
</form>


{% endblock %}