{% extends 'list.html' %}
{% load static %}
{% block head_list %}
<script src="{% static 'presupuesto/js/list.js' %}"></script>
{% endblock %}

{% block columnas %}
<tr>
    <th scope="col" style="width: 5%;">#</th>
    <th scope="col" style="width: 10%;">Servicio</th>
    <th scope="col" style="width: 10%;">Fecha servicio</th>
    <th scope="col" style="width: 10%;">Fecha caducidad servicio</th>
    <th scope="col" style="width: 10%;">Monto descuento servicio</th>
    <th scope="col" style="width: 10%;">Con igv</th>
    <th scope="col" style="width: 10%;">Subtotal servicio</th>
    <th scope="col" style="width: 10%;">Total impuesto servicio</th>
    <th scope="col" style="width: 10%;">Total servicio</th>
    <th scope="col" style="width: 10%;">Estado servicio</th>
    <th scope="col" style="width: 10%;">Nota administrador</th>
    <th scope="col" style="width: 10%;">Nota cliente</th>
    <th scope="col" style="width: 10%;">Terminos y condiciones</th>
    <th scope="col" style="width: 10%;">Monto de descuento oficial</th>
    <th scope="col" style="width: 10%;">Sede</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block js %}
<div class="modal fade" id="myModelDet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fas fa-shopping-cart"></i> Consulta de
                        detalle de servicios</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" id="tblDet">
                        <thead>
                        <tr>
                            <th>Servicio</th>
                            <th>Categoría</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
