{% extends 'list.html' %} 
{% load static %} 
{% block head_list %}
<script src="{% static 'servicio/js/list.js' %}"></script>
{% endblock %} 
{% block columnas %}
<tr>
  <th scope="col" style="width: 5%">#</th>
  <th scope="col" style="width: 10%">Nombre</th>
  <th scope="col" style="width: 10%">Descripción</th>
  <th scope="col" style="width: 10%">Precio</th>
  <th scope="col" style="width: 10%">Categoria</th>
  <th scope="col" style="width: 10%">Activo</th>
  <th scope="col" style="width: 10%">Empresa</th>
  <th scope="col" style="width: 10%">Sede</th>
  <th scope="col" style="width: 10%">Opciones</th>
</tr>
{% endblock %} 
{% block rows %} 
{% endblock %} 
{% block js %} 

{% endblock %}